<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Lab2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="HADS22-05BConnectionString" connectionString="Data Source=hads2205b.database.windows.net;Initial Catalog=HADS22-05B;Persist Security Info=True;User ID=Oier;Password=CrClONHEs25" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
	<!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
	<system.web>
		<roleManager enabled="true" />
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime targetFramework="4.6"/>
		<authentication mode="Forms">
			<forms name=".ASPXFORMSDEMO" loginUrl="/Public/Inicio.aspx"
    protection="All" timeout="30" />
		</authentication>
	</system.web>
	<location path="Private/Admin">
		<system.web>
			<authorization>
				<deny users="Alumno,Profesor,?"/>
			</authorization>
		</system.web>
	</location>
	<location path="Private">
		<system.web>
			<authorization>
				<deny users="?"/>
				<!--Every not auth user-->
			</authorization>
		</system.web>
	</location>
	<location path="Private/Alumno">
		<system.web>
			<authorization>
				<deny users="Admin, Profesor,?, vadillo@ehu.es"/>
			</authorization>
		</system.web>
	</location>

	<location path="Private/Profesor">
		<system.web>
			<authorization>
				<deny users="Admin, Alumno,?"/>
			</authorization>
		</system.web>
	</location>
	<location path="Private/Profesor/ImportarTareaXML.aspx">
		<system.web>
			<authorization>
				<deny users="Admin, Alumno, Profesor, ?"/>
				<allow users="vadillo@ehu.es"/>
			</authorization>
		</system.web>
	</location>
	<location path="Private/Profesor/ExportarTareaXML.aspx">
		<system.web>
			<authorization>
				<deny users="Admin, Alumno, Profesor, ?"/>
				<allow users="vadillo@ehu.es"/>
			</authorization>
		</system.web>
	</location>
	<location path="Private/Profesor/VerHorasMedias.aspx">
		<system.web>
			<authorization>
				<deny users="Admin, Alumno, Profesor, ?"/>
				<allow users="vadillo@ehu.es"/>
			</authorization>
		</system.web>
	</location>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>
 <system.serviceModel>
  <bindings />
  <client />
 </system.serviceModel>
 <applicationSettings>
  <Lab2.Properties.Settings>
   <setting name="Lab2_matriculas_Matriculas" serializeAs="String">
    <value>http://ehusw.es/jav/ServiciosWeb/comprobarmatricula.php</value>
   </setting>
   <setting name="Lab2_net_azurewebsites_apihads05_WebService1"
    serializeAs="String">
    <value>https://apihads05.azurewebsites.net/WebService1.asmx</value>
   </setting>
  </Lab2.Properties.Settings>
 </applicationSettings>
</configuration>